*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
}

body{
    background: url(assets/Splash-Creative-Dark-Slider-Background.jpg) center;
    background-size: cover;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    min-width: 350px;
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

a{
    text-decoration: none;
}

.container{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container:nth-child(1) .cuadrado{
    background-color: #571845;
}

.container:nth-child(1) .cuadrado:hover{
    background-color: #661c51;
}

.container:nth-child(2) .cuadrado{
    background-color: #900c3e;
}

.container:nth-child(2) .cuadrado:hover{
    background-color: #a50f47;
}

.container:nth-child(3) .cuadrado{
    background-color: #c70039;
}

.container:nth-child(3) .cuadrado:hover{
    background-color: #d9013f;
}

.container:nth-child(4) .cuadrado{
    background-color: #ff5733;
}

.container:nth-child(4) .cuadrado:hover{
    background-color: #fb5f3d;
}

.container:nth-child(5) .cuadrado{
    background-color: #efac02;
}

.container:nth-child(5) .cuadrado{
    background-color: #fbc208;
}

.cuadrado{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadrado:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    cursor:pointer;
}

p{
    color: white;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Ubuntu Mono', monospace;
}

h3{
    color: #141414;
    margin-top: 15px;
}

h3:hover{
    cursor: pointer;
}

/*-------------*/
/*Botón volver*/

.volver{
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.volver-boton{
    padding: 5px 19px;
    background-color: #93063e;
    display: flex;
    align-items: center;
}

.volver i{
    padding-right: 7px;
    color: #f9d7e4;
}

.volver p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #f9d7e4;
}

.volver-boton:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    cursor:pointer;
    background-color: #ab0848;
}

/*-------------*/

/*Sección CONOCEME*/

.conoceme-section{
    display: none;
    flex-direction: column;
}

.conoceme{
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    width: 90vw;
    padding: 20px;
    box-sizing: border-box;
}

.conoceme h1{
    font-size: 25px;
    color: #505050;
    margin-bottom: 10px;
}

.conoceme-main-container{
    width: 100%;
    display: flex;
}

.conoceme-container{
    width: 75%;
}

.conoceme-text-container{
    column-count: 2;
}

.conoceme-text-container p{
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    margin: 3px 0;
    text-indent: 10px;
}

.conoceme-text-container p:first-child{
    margin-top: 0px;
}

.ig-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.ig-container-boton{
    border-style: solid;
    padding: 5px 15px;
    border-width: 1px;
    border-radius: 18px;
    border-color: #898989;
}

.ig-container-boton:hover{
    cursor: pointer;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 20%);
    border-color: #4a4a4a;
}

.ig-container-boton a{
    display: flex;
    align-items: center;
}

.ig-container-boton p{
    color: #4a4a4a;
    font-family: 'Roboto';
    font-size: 18px;
}

.ig-container-boton img{
    width: 28px;
    margin-left: 6px;
}

.conoceme-main-container>img{
    width: 25%;
    height: fit-content;
    margin-left: 15px;
}
/*------------------*/
/*desarrollo section*/
.desarrollo-section{
    display: none;
    flex-direction: column;
}

.desarrollo h1{
    text-align: center;
    margin-bottom: 10px;
    color: #242424;
}

.desarrollo ul{
    width: 400px;
    height: auto;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
}

.desarrollo ul li a{
    text-decoration: none;
    color: rgb(233, 233, 233);
    line-height: 30px;
    font-size: 17px;
}

.desarrollo ul li a:hover{
    font-weight: 600;
    font-size: 18px;
    color: white;
}


/*-------------------*/
/*Responsive*/

@media (max-width: 900px){
    body{
        background-repeat: no-repeat;
    }

    /*Main Container*/
    .main-container{
        flex-direction: column;
        justify-content: center;
    }

    .container{
        margin-bottom: 25px;
        flex-direction: row;
        width: auto;
        align-items: center;
    }

    .cuadrado{
        height: 60px;
    }

    h3{
        margin-left: 20px;
        font-size: 24px;
        color: white;
        font-weight: 400;
        margin-top: 0px;
        text-align: initial;
    }

    h3:last-child{
        width: 200px;
    }

    /*Conoceme seccion*/
    .conoceme{
        width: 100%;
    }

    .conoceme h1{
        font-size: 23px;
        margin-bottom: 15px;
    }
    
    .conoceme-main-container{
        flex-direction: column;
    }
    
    .conoceme-container{
        width: 100%;
    }
    
    .conoceme-text-container{
        column-count: 1;
    }
    
    .conoceme-text-container p{
        font-size: 17px;
        line-height: 21px;
        margin: 13px 0;
        text-indent: 0px;
        color: #5e5e5e;
    }
    
    .ig-container{
        margin: 15px 0px 35px 0px;
    }
    
    .conoceme-main-container>img{
        width: 100%;
        margin-left: 0px;
    }

    /*Desarrollo*/
    .desarrollo ul{
        width: 85vw;
        height: 200px;
        text-align: center;
    }
    
    .desarrollo ul li a{
        line-height: 40px;
        font-size: 21px;
    }

    .desarrollo ul li a:hover{
        font-size: 21
    }
}